/* #bkgrndimg {
    display:block;
    margin:auto;
} */
.bkgrndWrapper {
    position:absolute;
    z-index:-1;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}
/* @media only screen and (max-width: 1975px) { 
    #bkgrndimg {
        position:absolute;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }
} */