.pushRight {
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    color:var(--bs-nav-color);
    margin-left:auto;
}
.backgroundContainer{
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index: 1;
}
.logoBackground{
    background-image: url("/images/home/logo3.png");
    height:50px;
    background-repeat:no-repeat;
    width: 404px;
    float:left;
    background-size: 404px 50px;
}
.logoLink {
    width: 404px;
    height: 35px;
}
/* Styles for screens smaller than 500px */
@media only screen and (max-width: 500px) {
    .logoLink {
        width: inherit;
        max-width: 404px;
        min-width: 202px;
    }
  }
.background{
    background-image: url("/images/home/bgrnd_tile.png");
    height:50px;
    background-repeat: repeat;
    background-color:transparent;
    overflow:hidden;
    width:auto;
}
.zIndex {
    z-index: 2;
}
.absolute {
    position: absolute;
    top:0;
    width:100%;
}
.volumeContainer {
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 3;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 991px) {
    .volumeContainer {
        display: none;
    }
}
.volumeSlider {
    width: 100px;
    cursor: pointer;
    transform: rotate(-90deg);
}